body{
    background-color:#EFECF5 ;
}
.navbar {
    background-color: #9162F0;
}
.nav-items {
    color:white;
}
nav ul li{
    font-size:2em;
    margin-right: auto;
}
nav ul li:hover{
    background-color: #6362F0;
}
.carousel-item {
    height: 600px;
}
.carousel-item img {
    width: 100px;
    height: 600px;
    object-fit: fill;  
}
#carouselExampleIndicators {
    width: 75%;
    margin:auto;
}

h1{
    text-align: center;
    font-size: 4em;
    padding-top: 3em;
    padding-bottom: 2em;
}
h2{
    text-align: center;
    font-size: 3em;
    padding-top: 3em;
    padding-bottom: 1em;
}
.contenu-inspi p{
    text-align: center;
}
.contenu-inspi img {
    margin:auto;
    justify-content: center;
    width: 100px;
    height: 500px;
    object-fit: fill;  
}

.card img {
    height: 500px;
}


